@media only screen and (max-width: 1069px){
    .footer{
        bottom: unset; 
    }

    .col{
        flex-basis: 100%;
    }
    
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }

}